In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import opendatasets as od

In [2]:
## od.download("https://www.kaggle.com/datasets/amitabhajoy/bengaluru-house-price-data")

In [3]:
dataset=pd.read_csv('Bengaluru_House_Data.csv')
dataset.head(10)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4.0,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,NaN,370.00

## DATA PREPROCESSING

# Location

In [4]:
dataset.groupby('location')['location'].agg('count')

location
 Anekal                 1
 Banaswadi              1
 Basavangudi            1
 Bhoganhalli            1
 Devarabeesana Halli    6
                       ..
t.c palya               1
tc.palya                4
vinayakanagar           1
white field,kadugodi    1
whitefiled              1
Name: location, Length: 1305, dtype: int64

In [5]:
dataset['location'].isnull().value_counts()

location
False    13319
True         1
Name: count, dtype: int64

In [6]:
dataset=dataset[dataset['location'].notnull()]

In [7]:
dataset.shape

(13319, 9)

# Society

In [8]:
dataset['society'].isnull().value_counts()

society
False    7817
True     5502
Name: count, dtype: int64

In [9]:
dataset.drop(columns='society', inplace=True)
dataset.shape

(13319, 8)

# Availability

In [10]:
dataset['availability'].unique()

array(['19-Dec', 'Ready To Move', '18-May', '18-Feb', '18-Nov', '20-Dec',
       '17-Oct', '21-Dec', '19-Sep', '20-Sep', '18-Mar', '20-Feb',
       '18-Apr', '20-Aug', '18-Oct', '19-Mar', '17-Sep', '18-Dec',
       '17-Aug', '19-Apr', '18-Jun', '22-Dec', '22-Jan', '18-Aug',
       '19-Jan', '17-Jul', '18-Jul', '21-Jun', '20-May', '19-Aug',
       '18-Sep', '17-May', '17-Jun', '21-May', '18-Jan', '20-Mar',
       '17-Dec', '16-Mar', '19-Jun', '22-Jun', '19-Jul', '21-Feb',
       'Immediate Possession', '19-May', '17-Nov', '20-Oct', '20-Jun',
       '19-Feb', '21-Oct', '21-Jan', '17-Mar', '17-Apr', '22-May',
       '19-Oct', '21-Jul', '21-Nov', '21-Mar', '16-Dec', '22-Mar',
       '20-Jan', '21-Sep', '21-Aug', '14-Nov', '19-Nov', '15-Nov',
       '16-Jul', '15-Jun', '17-Feb', '20-Nov', '20-Jul', '16-Sep',
       '15-Oct', '15-Dec', '16-Oct', '22-Nov', '15-Aug', '17-Jan',
       '16-Nov', '20-Apr', '16-Jan', '14-Jul'], dtype=object)

In [11]:
dataset['availability'].isnull().value_counts()

availability
False    13319
Name: count, dtype: int64

In [12]:
dataset['availability'].value_counts()

availability
Ready To Move    10580
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64

In [13]:
dataset['availability']=dataset['availability'].replace({'Ready To Move':1,'Immediate Possession':1})
dataset['availability']=dataset['availability'].map(lambda x: 0 if x!=1 else x)

In [14]:
dataset['availability'].value_counts()

availability
1    10596
0     2723
Name: count, dtype: int64

# Area type

In [15]:
dataset['area_type'].isnull().value_counts()

area_type
False    13319
Name: count, dtype: int64

In [16]:
dataset['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [17]:
dataset.drop(columns='area_type',inplace=True)

In [18]:
dataset.shape

(13319, 7)

# Size

In [19]:
dataset['size'].isnull().value_counts()

size
False    13303
True        16
Name: count, dtype: int64

In [20]:
dataset=dataset[dataset['size'].notnull()]

In [21]:
dataset.shape

(13303, 7)

In [22]:
dataset['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [23]:
dataset.loc[:,'num bedrooms']= dataset['size'].apply(lambda x: int(x.split(' ')[0]))

In [24]:
dataset.drop(columns='size',inplace=True)

In [25]:
dataset.head()

,availability,location,total_sqft,bath,balcony,price,num bedrooms
0,0,Electronic City Phase II,1056,2.0,1.0,39.07,2
1,1,Chikka Tirupathi,2600,5.0,3.0,120.00,4
2,1,Uttarahalli,1440,2.0,3.0,62.00,3
3,1,Lingadheeranahalli,1521,3.0,1.0,95.00,3
4,1,Kothanur,1200,2.0,1.0,51.00,2

In [26]:
dataset['location'].isnull().value_counts()

location
False    13303
Name: count, dtype: int64

In [27]:
sum(dataset['location'].value_counts()==1)

479

In [28]:
dataset['location']=dataset['location'].str.lower().str.strip()

In [29]:
sum(dataset['location'].value_counts()==1)

457

In [30]:
location_data=dataset.groupby('location')['location'].agg('count').sort_values(ascending=False)

In [31]:
location_data[location_data<10]

location
b narayanapura             9
ittamadu                   9
mathikere                  9
peenya                     9
vishwanatha nagenahalli    9
                          ..
kamanahalli main road      1
kamdhenu nagar             1
1 giri nagar               1
kanakadasa layout          1
zuzuvadi                   1
Name: location, Length: 1028, dtype: int64

In [32]:
location_less_then_10=location_data[location_data<10]
dataset['location']=dataset['location'].apply(lambda x: 'other' if x in location_less_then_10 else x)
len(dataset['location'].unique())

255

In [33]:
dataset.head()

,availability,location,total_sqft,bath,balcony,price,num bedrooms
0,0,electronic city phase ii,1056,2.0,1.0,39.07,2
1,1,chikka tirupathi,2600,5.0,3.0,120.00,4
2,1,uttarahalli,1440,2.0,3.0,62.00,3
3,1,lingadheeranahalli,1521,3.0,1.0,95.00,3
4,1,kothanur,1200,2.0,1.0,51.00,2

# total squareft

In [34]:
dataset['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [35]:
def mean_sqft(x):
    token=x.split('-')
    if len(token)==2:
        return (float(token[0])+float(token[1]))/2
    try:
        return float(x)
    except:
        return None

In [36]:
dataset['total_sqft']=dataset['total_sqft'].apply(mean_sqft)

In [37]:
dataset.head(10)

,availability,location,total_sqft,bath,balcony,price,num bedrooms
0,0,electronic city phase ii,1056.0,2.0,1.0,39.07,2
1,1,chikka tirupathi,2600.0,5.0,3.0,120.00,4
2,1,uttarahalli,1440.0,2.0,3.0,62.00,3
3,1,lingadheeranahalli,1521.0,3.0,1.0,95.00,3
4,1,kothanur,1200.0,2.0,1.0,51.00,2
5,1,whitefield,1170.0,2.0,1.0,38.00,2
6,0,old airport road,2732.0,4.0,NaN,204.00,4
7,1,rajaji nagar,3300.0,4.0,NaN,600.00,4
8,1,marathahalli,1310.0,3.0,1.0,63.25,3
9,1,other,1020.0,6.0,NaN,370.00,6

# adding price_per_sqft

In [38]:
dataset['price_per_sqft']=(dataset['price']*100000)/dataset['total_sqft']

# finding unusually high count of bedrooms

In [39]:
len(dataset[dataset['total_sqft']/dataset['num bedrooms']<250])

612

In [40]:
dataset=dataset[dataset['total_sqft']/dataset['num bedrooms']>250]

In [41]:
dataset

,availability,location,total_sqft,bath,balcony,price,num bedrooms,price_per_sqft
0,0,electronic city phase ii,1056.0,2.0,1.0,39.07,2,3699.810606
1,1,chikka tirupathi,2600.0,5.0,3.0,120.00,4,4615.384615
2,1,uttarahalli,1440.0,2.0,3.0,62.00,3,4305.555556
3,1,lingadheeranahalli,1521.0,3.0,1.0,95.00,3,6245.890861
4,1,kothanur,1200.0,2.0,1.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...,...
13315,1,whitefield,3453.0,4.0,0.0,231.00,5,6689.834926
13316,1,other,3600.0,5.0,NaN,400.00,4,11111.111111
13317,1,raja rajeshwari nagar,1141.0,2.0,1.0,60.00,2,5258.545136
13318,0,padmanabhanagar,4689.0,4.0,1.0,488.00,4,10407.336319
13319,1,doddathoguru,550.0,1.0,1.0,17.00,1,3090.909091

# balcony

In [42]:
dataset['balcony'].unique()

array([ 1.,  3., nan,  2.,  0.])

In [43]:
def balcony(row):
    if pd.isnull(row['balcony']):
        return row['num bedrooms']-1
    try:
        return float(row['balcony'])
    except:
        return row['num bedrooms'] - 1

In [44]:
dataset['balcony']=dataset.apply(balcony,axis=1)

In [45]:
dataset['balcony'].isnull().value_counts()

balcony
False    12624
Name: count, dtype: int64

In [46]:
dataset.loc[4688,'balcony']

1.0

# bathroom

In [47]:
dataset['bath'].isnull().value_counts()

bath
False    12567
True        57
Name: count, dtype: int64

In [48]:
def bathroom(row):
    if pd.isnull(row['bath']):
        return row['num bedrooms'] 
    try:
        return float(row['bath'])
    except:
        return row['num bedrooms']

In [49]:
dataset['bath']=dataset.apply(bathroom,axis=1)

In [50]:
dataset['bath'].isnull().value_counts()

bath
False    12624
Name: count, dtype: int64

In [51]:
dataset

,availability,location,total_sqft,bath,balcony,price,num bedrooms,price_per_sqft
0,0,electronic city phase ii,1056.0,2.0,1.0,39.07,2,3699.810606
1,1,chikka tirupathi,2600.0,5.0,3.0,120.00,4,4615.384615
2,1,uttarahalli,1440.0,2.0,3.0,62.00,3,4305.555556
3,1,lingadheeranahalli,1521.0,3.0,1.0,95.00,3,6245.890861
4,1,kothanur,1200.0,2.0,1.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...,...
13315,1,whitefield,3453.0,4.0,0.0,231.00,5,6689.834926
13316,1,other,3600.0,5.0,3.0,400.00,4,11111.111111
13317,1,raja rajeshwari nagar,1141.0,2.0,1.0,60.00,2,5258.545136
13318,0,padmanabhanagar,4689.0,4.0,1.0,488.00,4,10407.336319
13319,1,doddathoguru,550.0,1.0,1.0,17.00,1,3090.909091

# outlier removal using price_per_sqft

In [52]:
dataset['price_per_sqft'].describe().apply( lambda x: format(x,'f'))

count     12624.000000
mean       6338.999951
std        4189.975710
min         267.829813
25%        4217.374785
50%        5301.428856
75%        6955.199530
max      176470.588235
Name: price_per_sqft, dtype: object

In [53]:
def remove_outliers(df):
    df_out=pd.DataFrame()
    for location,subset in df.groupby('location'):
        m=np.mean(subset['price_per_sqft'])
        st=np.std(subset['price_per_sqft'])
        reduced_df=subset[(subset['price_per_sqft']>(m-st)) & (subset['price_per_sqft']<=(m+st))]
        df_out=pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out

In [54]:
dataset=remove_outliers(dataset)

In [55]:
dataset.shape

(10400, 8)

# one-hot encoding

In [56]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(sparse_output=False)

encoded_location=encoder.fit_transform(dataset[['location']])

dataframe=pd.DataFrame(encoded_location,columns=encoder.get_feature_names_out(['location']))

dataset_final=pd.concat([dataset.drop(columns=['location','price_per_sqft','availability','balcony','bath']),dataframe],axis=1)

In [57]:
dataset_final

,total_sqft,price,num bedrooms,location_1st block jayanagar,location_1st block koramangala,location_1st phase jp nagar,location_2nd phase judicial layout,location_2nd stage nagarbhavi,location_5th block hbr layout,location_5th phase jp nagar,...,location_vijayanagar,location_vishveshwarya layout,location_vishwapriya layout,location_vittasandra,location_whitefield,location_yelachenahalli,location_yelahanka,location_yelahanka new town,location_yelenahalli,location_yeshwanthpur
0,2850.0,428.00,4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1630.0,194.00,3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1875.0,235.00,3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1200.0,130.00,3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1235.0,148.00,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10395,1676.0,92.13,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10396,2503.0,138.00,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10397,1855.0,135.00,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10398,1876.0,160.00,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10399,1675.0,92.13,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [58]:
dataset_final['location_1st block jayanagar'].dtype

dtype('float64')

## model training

In [59]:
x=dataset_final.drop(columns=['price'])
x.head()

,total_sqft,num bedrooms,location_1st block jayanagar,location_1st block koramangala,location_1st phase jp nagar,location_2nd phase judicial layout,location_2nd stage nagarbhavi,location_5th block hbr layout,location_5th phase jp nagar,location_6th phase jp nagar,...,location_vijayanagar,location_vishveshwarya layout,location_vishwapriya layout,location_vittasandra,location_whitefield,location_yelachenahalli,location_yelahanka,location_yelahanka new town,location_yelenahalli,location_yeshwanthpur
0,2850.0,4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1630.0,3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1875.0,3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1200.0,3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1235.0,2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
y=dataset_final['price']
y.head()

0    428.0
1    194.0
2    235.0
3    130.0
4    148.0
Name: price, dtype: float64

In [61]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=20)

In [62]:
y_test.shape

(2600,)

In [63]:
y_train.shape

(7800,)

In [64]:
from sklearn.tree import DecisionTreeRegressor
model=DecisionTreeRegressor()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
from sklearn.metrics import r2_score
print(r2_score(y_test, y_pred))

0.6292178508650704

In [65]:
from sklearn.linear_model import LinearRegression
model2=LinearRegression()
model2.fit(x_train,y_train)
y_pred2=model2.predict(x_test)
from sklearn.metrics import r2_score
print(r2_score(y_test, y_pred2))

0.7835064125113472

In [66]:
from sklearn.linear_model import Lasso
model3=Lasso()
model3.fit(x_train,y_train)
y_pred3=model3.predict(x_test)
from sklearn.metrics import r2_score
print(r2_score(y_test, y_pred3))

0.6241181872861337

In [67]:
from sklearn.ensemble import RandomForestRegressor
model4=RandomForestRegressor()
model4.fit(x_train,y_train)
y_pred4=model4.predict(x_test)
from sklearn.metrics import r2_score
print(r2_score(y_test, y_pred4))

0.7124285184486845

In [68]:
from sklearn.ensemble import GradientBoostingRegressor
model5=GradientBoostingRegressor()
model5.fit(x_train,y_train)
y_pred5=model5.predict(x_test)
from sklearn.metrics import r2_score
print(r2_score(y_test, y_pred5))

0.7592232695524084

on removing the features like balcony and bath the accuracy of linear Regression is increasing.